.container {
  height: 100vh;
}
.card-title, .pokemon-name {
  text-transform:capitalize;
}
.card-img-top {
  margin: 10px auto 0 auto;
}
.list-group {
  align-items: center;
}
.card {
  margin: 0 auto 40px auto;
}